body
{
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: sans-serif;
}
.nav-bar
{
  position: relative;
  padding: 2%;
  font-size: 22px;
  color: rgb(149, 128, 255);
  background-color: rgb(40, 42, 54);
}
.Links
{
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 44%;
}
.Links a
{
  color: white;
  text-decoration: none;
  padding-right: 30px;
}
.Links a:hover
{
  color: rgb(80, 250, 123);
}
.Delivery
{
  padding-left: 3%;
}
.Delivery h3
{
  font-size: 20px;
}
.myButton {
	background-color:#44c767;
  border-radius:28px;
  outline: none;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}